/* ============================================================
   BLOQUE 1: PRESENTACIÓN PRINCIPAL
   ============================================================ */
#presentacion {
    text-align: center;
    margin-bottom: 40px;
}

#bienvenida {
    background-color: #c2d2e9;
}

.logo-principal img {
    border-radius: 30px;
    height: 150px;
    width: 200px;
}

.titulo-principal {
    font-size: 50px;
    color: #091d36;
    margin-top: 10px;
}

.subtitulo-principal {
    color: #3a4e7a;
    font-size: 20px;
    margin-top: 10px;
}

.botones {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.btn-login, .btn-registro {
    display: inline-block;
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 10px;
    font-family: Poppins, sans-serif;
    font-size: 15px;
    cursor: pointer;
    transition: transform 0.2s;
}

.btn-login {
    background-color: #3a4e7a;
    color: #f1f1f0;
    border: 1px solid #091d36;
}

.btn-login:hover {
    background-color: #091d36;
    transform: scale(1.08);
    color: #f1f1f0;
}

.btn-registro {
    background-color: #f1f1f0;
    color: #091d36;
    border: 1px solid #091d36;
}

.btn-registro:hover {
    background-color: #c2d2e9;
    transform: scale(1.08);
    color: #091d36;
}

/* ============================================================
   BLOQUE 2: TARJETAS DE SERVICIOS
   ============================================================ */
#tarjetas {
    display: flex;
    justify-content: center;
    gap: 35px;
    flex-wrap: wrap;
    margin-top: 40px;
}

.card {
    width: 260px;
    padding: 35px 25px;
    text-align: center;
    background-color: #f1f1f0;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

.card h2 {
    color: #091d36;
    font-size: 18px;
}

.card p {
    color: #3a4e7a;
    font-size: 15px;
}

.separador {
    width: 100%;
    height: 1px;
    background-color: #ddd;
    margin: 40px 0;
    
}
/* ============================================================
   BLOQUE 3: PREGUNTAS FRECUENTES
   ============================================================ */
#preguntas-frecuentes {
    text-align: center;
    margin: 30px auto;
}

#preguntas-frecuentes details {
    margin-top: 15px;
}

/* ============================================================
   BLOQUE 4: ESTADÍSTICAS
   ============================================================ */
#estadisticas {
    text-align: center;
    margin: 30px auto;
}

#estadisticas progress, #estadisticas meter {
    width: 300px;
    height: 25px;
    accent-color: #3a4e7a;
}

#estadisticas p {
    margin: 15px 0 5px;
}